.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flexContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.bio {
  margin-right: 50px;
}

.profile {
  max-height: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(103, 103, 103, 0.6);
}
