body {
  font-family: Tahoma, sans-serif;
  line-height: 1.8;
  background-color: #0f0f0f;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.flexContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flexContainer div {
  margin-right: 20px;
}

.profile {
  max-height: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(103, 103, 103, 0.6);
}
