.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.bio {
  flex: 2 0 0;
  min-width: 200px;
}

.imageAndLinks {
  flex: 1 0 0;
}

.profile {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(103, 103, 103, 0.6);
}

footer {
  text-align: center;
  margin-top: 2rem;
}

form button {
  margin-top: 1rem;
}

.turnstileContainer {
  height: 65px;
  display: block;
}
